<app-navbar></app-navbar>
<div class="container">
  <p>Seleccione la planta:</p>
  <select [(ngModel)]="idPlanta">
    <option *ngFor="let planta of plantas" [value]="planta.id">{{ planta.nombre }}</option>
  </select>

  <p>Seleccione el archivo Excel:</p>
  <input type="file" #fileInput (change)="onFileChange($event)">

  <button (click)="cargarDatos()">Cargar Datos</button>

  <p>Los datos se cargarán y actualizarán para la planta seleccionada.</p>

  <!-- Mostrar la primera fila de datos -->
  <p *ngIf="primeraFila.length > 0">
    Datos a insertar/actualizar:
    <strong>
      {{ primeraFila.join(', ') }}
    </strong>
  </p>

</div>
