<app-navbar></app-navbar>

<div class="container-fluid d-flex justify-content-center">
  <div class="container w-50">
    <button class="btn btn-primary mt-3" [routerLink]="['/plantas']">
      Volver atrás
    </button>
    <h3 class="text-center mt-4">Precios materias primas planta Taltal</h3>

    <!-- Mostrar el valor de la UF -->
    <div class="mt-4" *ngIf="ufValue">
      <p>
        El valor actual de la UF es: <span>{{ ufValue }}</span> CLP
      </p>
    </div>

    <!-- Tabla de materias primas -->
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Densidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of datos">
          <td>{{ dato.producto }}</td>
          <td>{{ dato.densidad !== null ? dato.densidad : "N/A" }}</td>
          <td>${{ dato.precio }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary mt-3">Editar valores</button>

    <!-- Tabla de aditivos especiales -->
    <table class="table table-bordered table-striped table-hover mt-3">
      <thead class="thead-dark">
        <tr>
          <th>Aditivos Especiales</th>
          <th>($/lt)</th>
          <th>Densidad (kg/lt)</th>
          <th>Densidad $/kg</th>
          <th>Densidad UF/kg</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aditivo of aditivosEspeciales">
          <td>{{ aditivo.nombre }}</td>
          <td>${{ aditivo.precio_por_litro }}</td>
          <td>{{ aditivo.densidad | number : "1.0-2" }}</td>
          <td>${{ calcularDensidadKg(aditivo) }}</td>
          <td>{{ calcularUFPorKgVisco(aditivo) }}</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary">Editar aditivos</button>
  </div>
  <div class="container mt-4">
    <h3 class="text-center">Diseño materias primas</h3>
    <div></div>
    <form class="d-flex justify-content-between">
      <div class="form-group">
        <label for="exampleFormControlInput1">CANTIDAD</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">TIPO HORMIGON</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Tipo"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">CEMENTO</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
          [(ngModel)]="cemento"
          name="kgCemento"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">GRAVA</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
          name="kgGrava"
          [(ngModel)]="kgGrava"
        />
      </div>
      <div class="form-group">
        <label for="kgGravilla">GRAVILLA</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
          [(ngModel)]="kgGravilla"
          name="kgGravilla"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ARENA</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
          name="kgArena"
          [(ngModel)]="kgArena"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">AGUA</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
          name="agua"
          [(ngModel)]="agua"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ADITIVO</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
          [(ngModel)]="aditivo"
          name="aditivo"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ADITIVO 2</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
          [(ngModel)]="aditivo2"
          name="aditivo2"
        />
      </div>
    </form>

    <div class="mt-4 d-flex justify-content-center">
      <div class="d-flex">
        <div class="">
          <h4 class="text-center">Control de Pérdida</h4>
          <table class="table mt-3">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th style="width: 25%">% de Pérdida</th>
                <th>Valor Ajustado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cemento</td>
                <td>{{ cemento }}</td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="porcentajeCemento"
                    placeholder="%"
                    style="width: 50%; text-align: center"
                  />
                </td>
                <td>{{ calcularValorAjustado(cemento, porcentajeCemento) }}</td>
              </tr>
              <tr>
                <td>Grava (kg)</td>
                <td>{{ calcularResultadoGrava() }}</td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="porcentajeGrava"
                    placeholder="%"
                    style="width: 50%; text-align: center"
                  />
                </td>
                <td>
                  {{
                    calcularValorAjustado(
                      calcularResultadoGrava(),
                      porcentajeGrava
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td>Gravilla</td>
                <td>{{ calcularResultadoGravilla() }}</td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="porcentajeGravilla"
                    placeholder="%"
                    style="width: 50%; text-align: center"
                  />
                </td>
                <td>
                  {{
                    calcularValorAjustado(
                      calcularResultadoGravilla(),
                      porcentajeGravilla
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td>Arena</td>
                <td>{{ calcularResultadoArena() }}</td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="porcentajeArena"
                    placeholder="%"
                    style="width: 50%; text-align: center"
                  />
                </td>
                <td>
                  {{
                    calcularValorAjustado(
                      calcularResultadoArena(),
                      porcentajeArena
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td>Mix</td>
                <td>{{ sumaMix() }}</td>
                <td></td>
                <td>{{ calcularValorAjustadoSumaMix() }}</td>
              </tr>
              <tr>
                <td>Agua (lts)</td>
                <td>{{ agua }}</td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="porcentajeAgua"
                    placeholder="%"
                    style="width: 50%; text-align: center"
                  />
                </td>
                <td>{{ calcularValorAjustado(agua, porcentajeAgua) }}</td>
              </tr>
              <tr>
                <td>Aditivo base</td>
                <td>{{ aditivo }}</td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="porcentajeAditivo"
                    placeholder="%"
                    style="width: 50%; text-align: center"
                  />
                </td>
                <td>{{ calcularValorAjustado(aditivo, porcentajeAditivo) }}</td>
              </tr>
              <tr>
                <td>Aditivo 2</td>
                <td>{{ aditivo2 }}</td>
                <td>
                  <input
                    type="number"
                    [(ngModel)]="porcentajeAditivo2"
                    placeholder="%"
                    style="width: 50%; text-align: center"
                  />
                </td>
                <td>
                  {{ calcularValorAjustado(aditivo2, porcentajeAditivo2) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="width: 20px"></div>
      <div class="text-center">
        <div>
          <h4 style="text-align: center">Costo UF materias primas</h4>
          <table class="mt-3">
            <thead>
              <th>Producto</th>
              <th>Costo UF</th>
            </thead>
            <tbody>
              <tr *ngFor="let dato of datos">
                <td>{{ dato.producto }}</td>
                <td>{{ calcularPrecio(dato) }} UF</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
