<app-navbar></app-navbar>

<div class="container">
  <h1 class="text-center">Precios materias primas planta 1</h1>
  <button class="btn btn-primary" [routerLink]="['/plantas']">Volver atras</button>
  <div *ngIf="ufValue">
    <p>El valor actual de la UF es: {{ ufValue }} CLP</p>
  </div>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Producto</th>
        <th>Precio</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.producto }}</td>
        <td>{{ dato.precio }}</td>
      </tr>
    </tbody>
  </table>
</div>
