<app-navbar></app-navbar>

<div class="container-fluid d-flex justify-content-center">
  <div class="container w-50">
    <button class="btn btn-primary mt-3" [routerLink]="['/plantas']">
      Volver atrás
    </button>
    <h3 class="text-center mt-4">Precios materias primas planta Taltal</h3>

    <!-- Mostrar el valor de la UF -->
    <div class="mt-4" *ngIf="ufValue">
      <p>
        El valor actual de la UF es: <span>{{ ufValue }}</span> CLP
      </p>
    </div>

    <!-- Tabla de materias primas -->
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Producto</th>
          <th>Densidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of datos">
          <td>{{ dato.producto }}</td>
          <td>{{ dato.densidad }}</td>
          <td>$ {{ dato.precio }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary">Editar valores</button>

    <!-- Tabla de aditivos especiales -->
    <table class="table table-bordered table-striped table-hover mt-3">
      <thead class="thead-dark">
        <tr>
          <th>Aditivos Especiales</th>
          <th>($/lt)</th>
          <th>Densidad (kg/lt)</th>
          <th>Densidad $/kg</th>
          <th>Densidad UF/kg</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aditivo of aditivosEspeciales">
          <td>{{ aditivo.nombre }}</td>
          <td>{{ aditivo.precio_por_litro }}</td>
          <td>{{ aditivo.densidad_kg_litro | number : "1.0-2" }}</td>
          <td>{{ calcularDensidadKg(aditivo) }}</td>
          <td>{{ calcularUFPorKgVisco(aditivo) }}</td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary">Editar aditivos</button>
  </div>
  <div class="container mt-4">
    <h3 class="text-center">Diseño</h3>
    <div></div>
    <form class="d-flex justify-content-between">
      <div class="form-group">
        <label for="exampleFormControlInput1">CANTIDAD</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">TIPO HORMIGON</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Tipo"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">CEMENTO</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">GRAVA</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">GRAVILLA</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ARENA</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">AGUA</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ADITIVO</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">ADITIVO 2</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0"
        />
      </div>
    </form>

    <div class="d-flex justify-content-center">
      <div>
        <p>perdida</p>
      </div>
      <div style="width: 20px;"></div>
      <div>
        <p>costo uf</p>
      </div>
    </div>
  </div>
</div>
