table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: lightgray;
}

input[type="text"] {
  width: 100%;
  border: none;
  text-align: center;
}


.horizontal-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  margin-right: 10px;
}

label{
  margin-top: 15px;
  font-size: 15px;
}
