<app-navbar></app-navbar>
<div class="botones-planta">
  <button
    *ngFor="let planta of plantas"
    (click)="cambiarPlanta(planta)"
    [class.selected]="planta === selectedPlanta"
  >
    {{ planta | titlecase }}
    <!-- Formatear el nombre de la planta -->
  </button>
</div>

<!-- Spinner de carga -->
<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<!-- Tabla de materias primas -->
<table *ngIf="!isLoading && materiasPrimas.length > 0" class="table">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Densidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let materiaPrima of materiasPrimas">
      <td>{{ materiaPrima.nombre }}</td>
      <td>{{ materiaPrima.precio }}</td>
      <td>{{ materiaPrima.densidad }}</td>
    </tr>
  </tbody>
</table>

<!-- Mensaje si no hay datos -->
<div *ngIf="!isLoading && materiasPrimas.length === 0">
  <p>No se encontraron materias primas para esta planta.</p>
</div>

<div class="edit-button-container">
  <button (click)="irAEditarPrecios()" class="btn btn-primary">Editar Precios</button>
</div>
