<app-navbar></app-navbar>
<div class="container mt-4">
  <button class="btn btn-dark" [routerLink]="['/home']">Volver atras</button>
  <div class="mt-4 d-flex justify-content-between">
    <h1>Seleccione planta | Costeo Materias Primas</h1>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <button [routerLink]="['/m-primas-taltal']" class="btn btn-primary">
      Planta Taltal
    </button>
    <button  [routerLink]="['/m-primas-mejillones']" class="btn btn-primary">
      Planta Mejillones
    </button>
    <button  class="btn btn-primary">
      Planta Tocopilla
    </button>
    <button class="btn btn-primary">
      Planta Maria Elena
    </button>
    <button  class="btn btn-primary">
      Planta Calama
    </button>
    <button  class="btn btn-primary">
      Planta Antofagasta
    </button>
  </div>



</div>
