<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
  <div class="container-fluid">
    <h1 class="text-center text-white flex-grow-1">SISTEMA DE GESTIÓN Y COSTEO DE HORMIGONES</h1>
    <button class="btn btn-outline-light" (click)="logout()">Cerrar Sesión</button>
  </div>
</nav>

<div class="container mt-4 d-flex justify-content-between">
  <h1>seleccione planta</h1>
  <button class="btn btn-dark" [routerLink]="['/home']">Volver atras</button>

</div>
<div class="row">
  <button [routerLink]="['/planta1']">planta 1</button>
  <button [routerLink]="['/planta2']">planta 2</button>
  <button [routerLink]="['/planta3']">planta 3</button>
</div>
