<app-navbar></app-navbar>
<div class="container mt-4">
  <button class="btn btn-dark" [routerLink]="['/home']">Volver atras</button>
</div>
<div class="container mt-4 d-flex justify-content-between">
  <h1>Seleccione planta</h1>

</div>
<div class="container d-flex justify-content-between" style="margin-top: 10px;">
  <button [routerLink]="['/planta1']" class="btn btn-primary">Planta Taltal</button>
  <button [routerLink]="['/planta2']" class="btn btn-primary">Planta Mejillones</button>
  <button [routerLink]="['/planta3']" class="btn btn-primary">Planta Tocopilla</button>
  <button [routerLink]="['/planta3']" class="btn btn-primary">Planta Maria Elena</button>
  <button [routerLink]="['/planta3']" class="btn btn-primary">Planta Calama</button>
  <button [routerLink]="['/planta3']" class="btn btn-primary">Planta Antofagasta</button>
</div>
