<app-navbar></app-navbar>
<div class="container mt-4">
  <div class="row">
    <div class="col text-center mb-3">
      <button
        class="btn btn-primary d-flex align-items-center justify-content-center"
        style="width: auto"
        [routerLink]="['/costeo-producto']"
      >
        <i class="fas fa-calculator me-2"></i> Costeo Productos
      </button>
    </div>

    <div class="col text-center mb-3">
      <button
        class="btn btn-primary d-flex align-items-center justify-content-center"
        style="width: auto"
        [routerLink]="['/costos-generales']"
      >
        <i class="fas fa-calculator me-2"></i> Costos Generales
      </button>
    </div>

    <div class="col text-center mb-3">
      <button
        class="btn btn-secondary d-flex align-items-center justify-content-center"
        style="width: auto"
        [routerLink]="['/materias-primas', 'taltal']"
      >
        <i class="fas fa-boxes me-2"></i> Costeo Materias Primas
      </button>
    </div>

    <div class="col text-center mb-3">
      <button
        class="btn btn-secondary d-flex align-items-center justify-content-center"
        style="width: auto"
        [routerLink]="['/menu-area-tecnica']"
      >
        <i class="fas fa-tools me-2"></i> Área Técnica
      </button>
    </div>

    <div class="col text-center mb-3">
      <button
        class="btn btn-success d-flex align-items-center justify-content-center"
        style="width: auto"
        [routerLink]="['/configuracion']"
        disabled
      >
        <i class="fas fa-cogs me-2"></i> Configuración
      </button>
    </div>
  </div>
</div>
