<div class="container">
  <div class="d-flex justify-content-between mt-5">
    <h2>Datos de la pre-cotización</h2>
    <button class="btn btn-primary" (click)="generateQuotePdf()">
      Descargar Cotización PDF
    </button>
  </div>

  <p>Cliente: {{ data.client }}</p>
  <p>Vendedor: {{ data.seller }}</p>
  <p>Producto: {{ data.product }}</p>
  <p>Cantidad: {{ data.cantity }}</p>
  <p>Precio: {{ data.price }}</p>
  <p>Fecha: {{ data.date }}</p>
  <p>Total estimado: {{ data.total }}</p>

  <p>Observaciones</p>
  <p>{{ data.observations }}</p>

  <div class="text-center" style="margin-top: 20px">
    <button class="btn btn-danger" (click)="cerrarDetalles()">
      Cerrar Detalles
    </button>
  </div>
</div>
