<app-navbar></app-navbar>
<div class="container mt-3" *ngIf="producto">
  <h3>Editar precio de {{ producto.nombre }} planta {{plantaSeleccionada.toUpperCase()}}</h3>
  <form (ngSubmit)="guardarCambios()">
    <div class="form-group">
      <label for="nombre">Producto</label>
      <input type="text" id="nombre" class="form-control" [value]="producto.nombre" readonly />
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="number" id="precio" class="form-control" [(ngModel)]="producto.precio" name="precio" required />
    </div>
    <button type="submit" class="btn btn-success mt-3">Guardar Cambios</button>
    <!-- Botón Cancelar -->
    <button type="button" class="btn btn-danger mt-3" (click)="cancelar()">Cancelar</button>
  </form>
</div>
