<app-navbar></app-navbar>
<div class="container mt-3 formulario-container" *ngIf="producto">
  <!-- Título -->
  <h3 class="text-center text-primary mb-4">
    <i class="fas fa-edit"></i> Editar precio de {{ producto.nombre }} - Planta
    {{ plantaSeleccionada.toUpperCase() }}
  </h3>

  <!-- Formulario -->
  <form (ngSubmit)="guardarCambios()">
    <!-- Producto -->
    <div class="form-group mb-3">
      <label for="nombre" class="form-label">
        <i class="fas fa-box"></i> Producto
      </label>
      <input
        type="text"
        id="nombre"
        class="form-control"
        [value]="producto.nombre"
        readonly
      />
    </div>

    <!-- Precio -->
    <div class="form-group mb-3">
      <label for="precio" class="form-label">
        <i class="fas fa-dollar-sign"></i> Precio
      </label>
      <input
        type="number"
        id="precio"
        class="form-control"
        [(ngModel)]="producto.precio"
        name="precio"
        required
        placeholder="Ingrese el precio del producto"
      />
    </div>

    <!-- Porcentaje de Pérdida -->
    <div class="form-group mb-3">
      <label for="perdida" class="form-label">
        <i class="fas fa-percent"></i> Porcentaje de Pérdida
      </label>
      <input
        type="number"
        id="perdida"
        class="form-control"
        [(ngModel)]="producto.perdida"
        name="perdida"
        required
        placeholder="Ingrese el porcentaje de pérdida"
      />
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-success mt-3">
        <i class="fas fa-save"></i> Guardar Cambios
      </button>
      <button
        type="button"
        class="btn btn-danger mt-3"
        (click)="cancelar()"
      >
        <i class="fas fa-times"></i> Cancelar
      </button>
    </div>
  </form>
</div>
