<app-navbar></app-navbar>
<div class="d-flex justify-content-between">
  <div class="container mt-4">
    <button class="btn btn-danger" [routerLink]="['/menu-area-tecnica']">Volver atras</button>
    <h3 class="text-center text-white">Formulario de Dosificación</h3>
    <h4 class="text-center mb-4 text-white">para el ultimo producto ingresado</h4>

    <!-- Información del último producto -->
    <div class="card mb-4 mt-3">
      <div class="card-body">
        <p>
          <strong>Número de fórmula:</strong>
          {{ ultimoProducto?.numeroFormula }}
        </p>
        <p>
          <strong>Nomenclatura:</strong>
          {{ ultimoProducto?.descripcionATecnica }}
        </p>
      </div>
    </div>

    <!-- Formulario -->
    <form (ngSubmit)="onSubmit()" #dosificacionForm="ngForm">
      <div class="row">
        <!-- Cemento -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="cemento">Cemento (kg)</label>
            <input
              type="number"
              id="cemento"
              [(ngModel)]="dosificacion.cemento"
              name="cemento"
              required
              class="form-control"
            />
          </div>
        </div>
        <!-- Agua Total -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="aguaTotal">Agua Total (litros)</label>
            <input
              type="number"
              id="aguaTotal"
              [(ngModel)]="dosificacion.aguaTotal"
              name="aguaTotal"
              required
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Arena -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="arena">Arena (kg)</label>
            <input
              type="number"
              id="arena"
              [(ngModel)]="dosificacion.arena"
              name="arena"
              required
              class="form-control"
            />
          </div>
        </div>
        <!-- Gravilla -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="gravilla">Gravilla (kg)</label>
            <input
              type="number"
              id="gravilla"
              [(ngModel)]="dosificacion.gravilla"
              name="gravilla"
              required
              class="form-control"
            />
          </div>
        </div>
      </div>

      <!-- Aditivos -->
      <div class="row">
        <!-- Aditivo Base 1 -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="aditivo1">Aditivo Base 1 (kg)</label>
            <input
              type="number"
              id="aditivo1"
              [(ngModel)]="dosificacion.aditivo1"
              name="aditivo1"
              class="form-control"
            />
          </div>
        </div>
        <!-- Aditivo 2 -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="aditivo2">Aditivo 2</label>
            <select
              id="aditivo2"
              [(ngModel)]="dosificacion.nombreAditivo2"
              name="nombreAditivo2"
              class="form-control"
            >
              <option *ngFor="let aditivo of listaAditivos" [value]="aditivo">
                {{ aditivo }}
              </option>
            </select>
            <input
              type="number"
              id="aditivo2Cantidad"
              [(ngModel)]="dosificacion.aditivo2"
              name="aditivo2Cantidad"
              placeholder="Cantidad (kg)"
              class="form-control mt-2"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Aditivo 3 -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="aditivo3">Aditivo 3</label>
            <select
              id="aditivo3"
              [(ngModel)]="dosificacion.nombreAditivo3"
              name="nombreAditivo3"
              class="form-control"
            >
              <option *ngFor="let aditivo of listaAditivos" [value]="aditivo">
                {{ aditivo }}
              </option>
            </select>
            <input
              type="number"
              id="aditivo3Cantidad"
              [(ngModel)]="dosificacion.aditivo3"
              name="aditivo3Cantidad"
              placeholder="Cantidad (kg)"
              class="form-control mt-2"
            />
          </div>
        </div>
        <!-- Aditivo 4 -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="aditivo4">Aditivo 4</label>
            <select
              id="aditivo4"
              [(ngModel)]="dosificacion.nombreAditivo4"
              name="nombreAditivo4"
              class="form-control"
            >
              <option *ngFor="let aditivo of listaAditivos" [value]="aditivo">
                {{ aditivo }}
              </option>
            </select>
            <input
              type="number"
              id="aditivo4Cantidad"
              [(ngModel)]="dosificacion.aditivo4"
              name="aditivo4Cantidad"
              placeholder="Cantidad (kg)"
              class="form-control mt-2"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Aditivo 5 -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="aditivo5">Aditivo 5</label>
            <select
              id="aditivo5"
              [(ngModel)]="dosificacion.nombreAditivo5"
              name="nombreAditivo5"
              class="form-control"
            >
              <option *ngFor="let aditivo of listaAditivos" [value]="aditivo">
                {{ aditivo }}
              </option>
            </select>
            <input
              type="number"
              id="aditivo5Cantidad"
              [(ngModel)]="dosificacion.aditivo5"
              name="aditivo5Cantidad"
              placeholder="Cantidad (kg)"
              class="form-control mt-2"
            />
          </div>
        </div>
        <!-- Descripción -->
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label for="descripcion">Descripción</label>
            <textarea
              id="descripcion"
              [(ngModel)]="dosificacion.descripcion"
              name="descripcion"
              class="form-control"
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Selección de Planta -->
      <div class="form-group mb-4">
        <label for="planta">Seleccione Planta de Dosificación</label>
        <select
          [(ngModel)]="dosificacion.idPlanta"
          name="idPlanta"
          id="planta"
          class="form-control"
        >
          <option value="1">Planta Taltal</option>
          <option value="2">Planta Mejillones</option>
          <option value="3">Planta Antofagasta</option>
          <option value="4">Planta María Elena</option>
          <option value="5">Planta Calama</option>
          <option value="6">Planta Tocopilla</option>
        </select>
      </div>

      <!-- Botones -->
      <div class="text-center mb-4">
        <button type="submit" class="btn btn-success me-2">
          <fa-icon [icon]="faSave"></fa-icon>
          {{
            isUpdating ? "Actualizar Dosificación" : "Registrar Dosificación"
          }}
        </button>
        <button
          type="button"
          class="btn btn-danger"
          [routerLink]="['/menu-area-tecnica']"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="container mt-4">
    <h3 class="text-center mb-4 text-white">Listado de dosificaciones</h3>
    <p class="text-center text-white">Si lo desea, puede actualizar una dosificacion de esta lista, pinchela y se cargaran los datos para actualizar</p>
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex">
        <input
          type="text"
          class="form-control rounded-2 me-2"
          placeholder="Buscar N° Formula"
          [(ngModel)]="filtroIdProducto"
          (keyup)="buscarDosificacion()"
        />

      </div>
    </div>

    <!-- Spinner de carga -->
    <div *ngIf="isLoading" class="text-center mt-4">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>

    <!-- Tabla de dosificaciones -->
    <div *ngIf="!isLoading" class="table-responsive mt-4">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>

            <th>Número de Fórmula</th>
            <th>Descripción</th>
            <th>Planta</th>
            <th>Cemento (kg)</th>
            <th>Agua Total (L)</th>
            <th>Arena (kg)</th>
            <th>Gravilla (kg)</th>
            <th>Aditivo 1 (kg)</th>
            <th>Aditivo 2 (kg)</th>
            <th>Aditivo 3 (kg)</th>
            <th>Aditivo 4 (kg)</th>
            <th>Aditivo 5 (kg)</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dosificacion of dosificaciones; let i = index" (click)="seleccionarDosificacion(dosificacion)" [class.table-active]="dosificacion.idDosificacion === this.dosificacion.idDosificacion">

            <td>{{ dosificacion.idProducto }}</td>
            <td>{{ dosificacion.descripcion }}</td>
            <td>{{ plantasMap[dosificacion.idPlanta] || 'Planta desconocida' }}</td>
            <td>{{ dosificacion.cemento }}</td>
            <td>{{ dosificacion.aguaTotal }}</td>
            <td>{{ dosificacion.arena }}</td>
            <td>{{ dosificacion.gravilla }}</td>
            <td>{{ dosificacion.aditivo1 }}</td>
            <td>{{ dosificacion.aditivo2 }}</td>
            <td>{{ dosificacion.aditivo3 }}</td>
            <td>{{ dosificacion.aditivo4 }}</td>
            <td>{{ dosificacion.aditivo5 }}</td>

          </tr>
        </tbody>
      </table>
      <div *ngIf="!isLoading && dosificaciones.length === 0" class="alert alert-warning text-center">
        No se encontraron dosificaciones con el ID de Producto proporcionado.
      </div>

    </div>

  </div>
  <button
  class="scroll-to-top"
  (click)="scrollToTop()"
  *ngIf="showScrollToTop"
>
  ↑
</button>
</div>


