/* Estilo para centrar el contenido */
.container {
  max-width: 800px;
}

/* Estilo para los títulos */
h3, h4 {
  color: #343a40;
  font-weight: bold;
}

/* Espaciado entre los elementos del formulario */
.form-group {
  margin-bottom: 1rem;
}

/* Estilo para los botones */
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Iconos en los botones */
.btn i {
  margin-right: 5px;
}

/* Estilo para los inputs */
.form-control {
  border-radius: 0.25rem;
}

/* Estilo para los selects */
.form-control {
  border-radius: 0.25rem;
}

/* Estilo para el card */
.card {
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card .card-body {
  padding: 1.5rem;
}

/* Estilo para centrar el formulario de N° Fórmula */
#nFormula {
  text-align: center;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 576px) {
  .form-group {
    margin-bottom: 1rem;
  }
}

/* Estilo para tablas */
.table-responsive {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #dee2e6;
}

.table thead th {
  text-align: center;
  background-color: #343a40;
  color: white;
}

.table tbody td {
  text-align: center;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  margin: 20px auto;
}

.text-center {
  text-align: center;
}

.table-active {
  background-color: #f8f9fa !important;
}

.container {
  background-color: gray;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px; /* Posición desde la parte inferior */
  right: 20px; /* Posición desde la derecha */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0.8;
  z-index: 1000;
}

.scroll-to-top:hover {
  opacity: 1;
  transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

