<app-navbar></app-navbar>
<div class="container mt-4">
  <!-- Botón "Volver atrás" -->
  <button class="btn btn-danger mb-3" [routerLink]="['/home']">
    <i class="fas fa-arrow-left"></i> Volver atrás
  </button>

  <!-- Título principal -->
  <h3 class="text-center mb-4 text-black">
    <i class="fas fa-calculator"></i> Costeo de Hormigones
  </h3>

  <div *ngIf="isGeneratingQuote" class="text-center my-4">
    <img
      src="https://res.cloudinary.com/dk5bjcrb8/image/upload/v1732548351/gif-copat_zjppwk.gif"
      alt="Generando Pre-cotización"
      width="150"
    />
    <p class="text-muted mt-3">Generando Pre-cotización, por favor espere...</p>
  </div>

  <div class="row">
    <!-- Columna izquierda -->
    <div class="col-md-6">
      <div class="card shadow p-4 fade-in">
        <h5 class="mb-3">Seleccione planta:</h5>
        <!-- Botones de planta -->
        <div class="plantas-grid mb-4">
          <button
            class="planta-btn"
            *ngFor="let planta of plantas"
            [class.active]="plantaSeleccionada === planta.id"
            (click)="seleccionarPlanta(planta.id)"
          >
            {{ planta.nombre }}
          </button>
        </div>

        <!-- Input para el producto y botón de búsqueda -->
        <div *ngIf="plantaSeleccionada">
          <h5>
            Costear producto en planta:
            <span class="text-highlight">{{ nombrePlantaSeleccionada }}</span>
          </h5>
          <!-- Búsqueda por producto -->
          <div class="input-group mt-3 mb-3">
            <span class="input-group-text">
              <i class="fas fa-barcode"></i>
            </span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="idProducto"
              placeholder="Ingresa el ID del producto"
            />
          </div>
          <button
            class="btn btn-success w-100 bounce-on-hover mb-4"
            (click)="buscarProducto()"
          >
            <i class="fas fa-search"></i> Buscar Producto
          </button>

          <!-- Búsqueda por Descripción Técnica -->
          <div class="input-group mt-3 mb-3">
            <span class="input-group-text">
              <i class="fas fa-text-width"></i>
            </span>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="descripcionATecnica"
              placeholder="Ingresa la Descripción Técnica"
            />
          </div>
          <button
            class="btn btn-primary w-100 bounce-on-hover mb-4"
            (click)="
              buscarPorNomenclatura(descripcionATecnica, plantaSeleccionada)
            "
          >
            <i class="fas fa-search"></i> Buscar por Nomenclatura
          </button>

          <div *ngIf="dosificacion" class="fade-in">
            <h5 class="mb-3">
              Dosificación para el hormigón
              <ng-container
                *ngIf="tipoBusqueda === 'producto'; else buscarPorNomenclatura"
              >
                {{ idProducto }}
              </ng-container>
              <ng-template #buscarPorNomenclatura>
                {{ descripcionATecnica }}
              </ng-template>
              en {{ nombrePlantaSeleccionada }}
            </h5>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead class="table-light">
                  <tr>
                    <th>Cemento</th>
                    <th>Agua Total</th>
                    <th>Arena</th>
                    <th>Gravilla</th>
                    <th
                      *ngIf="
                        dosificacion.aditivo1 !== 0 &&
                        dosificacion.aditivo1 !== null
                      "
                    >
                      Aditivo 1 (Base)
                    </th>
                    <th
                      *ngIf="
                        dosificacion.aditivo2 !== 0 &&
                        dosificacion.aditivo2 !== null
                      "
                    >
                      Aditivo 2
                    </th>
                    <th
                      *ngIf="
                        dosificacion.aditivo3 !== 0 &&
                        dosificacion.aditivo3 !== null
                      "
                    >
                      Aditivo 3
                    </th>
                    <th
                      *ngIf="
                        dosificacion.aditivo4 !== 0 &&
                        dosificacion.aditivo4 !== null
                      "
                    >
                      Aditivo 4
                    </th>
                    <th
                      *ngIf="
                        dosificacion.aditivo5 !== 0 &&
                        dosificacion.aditivo5 !== null
                      "
                    >
                      Aditivo 5
                    </th>
                    <th
                      *ngIf="
                        dosificacion.aditivo6 !== 0 &&
                        dosificacion.aditivo6 !== null
                      "
                    >
                      Aditivo 6
                    </th>
                    <th
                      *ngIf="
                        dosificacion.aditivo7 !== 0 &&
                        dosificacion.aditivo7 !== null
                      "
                    >
                      Aditivo 7
                    </th>
                    <th
                      *ngIf="
                        dosificacion.aditivo8 !== 0 &&
                        dosificacion.aditivo8 !== null
                      "
                    >
                      Aditivo 8
                    </th>
                    <th>Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ dosificacion.cemento }}</td>
                    <td>{{ dosificacion.aguaTotal }}</td>
                    <td>{{ dosificacion.arena }}</td>
                    <td>{{ dosificacion.gravilla }}</td>
                    <td
                      *ngIf="
                        dosificacion.aditivo1 !== 0 &&
                        dosificacion.aditivo1 !== null
                      "
                    >
                      {{ dosificacion.aditivo1 }}
                    </td>
                    <td
                      *ngIf="
                        dosificacion.aditivo2 !== 0 &&
                        dosificacion.aditivo2 !== null
                      "
                    >
                      {{ dosificacion.aditivo2 }}
                    </td>
                    <td
                      *ngIf="
                        dosificacion.aditivo3 !== 0 &&
                        dosificacion.aditivo3 !== null
                      "
                    >
                      {{ dosificacion.aditivo3 }}
                    </td>
                    <td
                      *ngIf="
                        dosificacion.aditivo4 !== 0 &&
                        dosificacion.aditivo4 !== null
                      "
                    >
                      {{ dosificacion.aditivo4 }}
                    </td>
                    <td
                      *ngIf="
                        dosificacion.aditivo5 !== 0 &&
                        dosificacion.aditivo5 !== null
                      "
                    >
                      {{ dosificacion.aditivo5 }}
                    </td>
                    <td
                      *ngIf="
                        dosificacion.aditivo6 !== 0 &&
                        dosificacion.aditivo6 !== null
                      "
                    >
                      {{ dosificacion.aditivo6 }}
                    </td>
                    <td
                      *ngIf="
                        dosificacion.aditivo7 !== 0 &&
                        dosificacion.aditivo7 !== null
                      "
                    >
                      {{ dosificacion.aditivo7 }}
                    </td>
                    <td
                      *ngIf="
                        dosificacion.aditivo8 !== 0 &&
                        dosificacion.aditivo8 !== null
                      "
                    >
                      {{ dosificacion.aditivo8 }}
                    </td>
                    <td>{{ dosificacion.descripcion }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="col-md-6">
      <div class="card shadow p-4 fade-in">
        <div class="mb-3">
          <label for="margenEnUf">Margen (en UF):</label>
          <input
            type="number"
            id="margenEnUf"
            [(ngModel)]="margenEnUf"
            class="form-control"
            placeholder="Ingresa el margen en UF"
          />
        </div>
        <div class="mb-3">
          <label for="otros">Otros costos:</label>
          <span
            class="ms-2"
            style="cursor: pointer"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Incluye costos adicionales como transporte, permisos, o imprevistos."
          >
            <i class="fas fa-question-circle"></i>
          </span>
          <input
            type="number"
            id="otros"
            [(ngModel)]="otros"
            class="form-control"
            placeholder="Ingresa otros costos"
          />
        </div>
        <button
          class="btn btn-primary w-100 mt-3 bounce-on-hover"
          (click)="costearProductoConMargenYOtros()"
        >
          <i class="fas fa-calculator"></i> Costear Producto
        </button>

        <!-- Botón de Generar Pre-cotización -->
        <button
          class="btn btn-info w-100 mt-3 bounce-on-hover"
          (click)="generarPrecotizacion()"
        >
          <i class="fas fa-file-pdf"></i> Generar Pre-cotización
        </button>

        <!-- Detalles del cálculo de costeo -->
        <h5 class="mt-4">Detalles del Costeo</h5>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Costo de Producción:</strong>
            <span class="float-end"
              >{{ costoFinal | number : "1.2-2" }} UF</span
            >
          </li>
          <li class="list-group-item">
            <strong>Margen:</strong>
            <span class="float-end"
              >{{ margenEnUf | number : "1.2-2" }} UF</span
            >
          </li>
          <li class="list-group-item">
            <strong>Otros:</strong>
            <span class="float-end">{{ otros | number : "1.2-2" }} UF</span>
          </li>
          <li class="list-group-item">
            <strong>Precio de Venta:</strong>
            <span class="float-end"
              >{{ precioVenta | number : "1.2-2" }} UF</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
